/* Animação de Loading Circular */
.loader {
  border: 4px solid #f3f3f3; /* Cinza claro */
  border-top: 4px solid #34d399; /* Verde (Emerald-400 do Tailwind) */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Efeito sutil ao passar o mouse nos cards */
.card-hover {
  transition: transform 0.2s;
}

.card-hover:hover {
  transform: translateY(-5px);
}
